.digitalSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  gap: 8px;
  height: 40px;
  padding: 0 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  color: var(--color-block-active);
}

.digitalSlider:focus-within {
  border-color: var(--color-block-normal);
  color: var(--color-foreground);
}

.digitalSlider:focus-within .icon {
  color: var(--color-foreground);
}

.icon {
  color: var(--color-block-active);
}

.left {
  margin-left: -4px;
}

.right {
  margin-right: -4px;
}

.wrapper {
  display: flex;
  gap: 8px;
  font-size: 16px;
  line-height: 32px;
  border-radius: 8px;
  height: calc(100% - 2px);
}

.input {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  color: inherit;
  outline: none;
  border: none;
  margin: 0 -8px;
  padding: 0;
  height: inherit;
  resize: none;
}
